/*UMIE SYAHIRAH BINTI MD SABRI 29/6/2021*/

form{
	background-image: url(stationery.jpg);
	margin: auto;
	width: 50%;
	padding: 10px;
	font-family: 'Arial', 'Verdana', sans-serif;
}

h1{
	text-align: center;
}

input[type="text"],input[type="number"]
{
	width: 100%;
	height: 30px;
}

.submit,.reset
{
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
}
